PORT=8322
ACME_OBS_DATA_DIR=./data
ACME_OBS_CONFIG=./acme-obs.config.json
ACME_AUTH_MODE=off
# ACME_IDENTITY_URL=http://127.0.0.1:8316
# ACME_OBS_ISSUES_TOKEN=
# ACME_OBS_PROJECTS_TOKEN=
# ACME_OBS_PRELUDE_TOKEN=
# ACME_OBS_HELIX_TOKEN=
